<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	bootstrap="vendor/autoload.php" 
	colors="true" 
	executionOrder="random" 
	testdox="true" 
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">src</directory>
		</include>
		<report>
			<html outputDirectory="coverage/html"/>
			<text outputFile="php://stdout"/>
		</report>
	</coverage>
	<testsuites>
		<testsuite name="unit">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>
	<php>
		<ini name="error_reporting" value="-1"/>
		<env name="PHPUNIT_TEST" value="true" force="true" />
	</php>
</phpunit>
